.card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;

    .card-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .card-block {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 20px;
    }
   .card-content span {
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 35px;
    color: #18333E;
   }
    .img-card{
        width: 241px;
        height: 322px;
        border-radius: 50px;
        -webkit-box-shadow: -2px -2px 34px 0px rgba(161,161,161,1);
        -moz-box-shadow: -2px -2px 34px 0px rgba(161,161,161,1);
        box-shadow: -2px -2px 34px 0px rgba(161,161,161,1);     
    }
    .span-star {
        display: flex;
    }
}