.discover {
    .discover-title span{
        font-family: 'Baloo 2';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 48px;
        color: #18333E;
    }
    .discover-title {
        margin-bottom: 30px;

    }
    .discover-pages {
        margin-bottom: 30px;
    }
    .discover-pages a {
        font-family: 'Baloo 2';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-decoration: none;
        color: #18333eca;
        margin-right: 57px;
    }
    
}